# Ignore all log files
*.log
# Ignore all directories named logs
logs/
# But do not ignore ./packages/domain/src/logs
!packages/domain/src/logs/
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local
samples

# Editor directories and files
# .vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

*.lock
*-lock.*